:root {
  --lightest-purple: #6D4EE2;
  --light-purple: #6145C9;
  --lighter-purple: #5942AE;
  --purple: #442E98;
  --darker-purple: #322074;
  --dark-purple: #281C56;
  --darkest-purple: #1F173D;
  --black: #212121;
  --white: #FEFEF9;

  --font-primary: 'Varela Round', sans-serif;

  --shadow: 4px 4px 12px -5px rgba(33,33,33,0.4);
  --shadow-hover: 0px 4px 12px -5px rgba(33,33,33,0.8);

  --quick: all .3s cubic-bezier(.54,.57,.02,1.39);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--light-purple);
}

div.container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

li.tab:nth-child(1) {
  background-color: var(--darkest-purple) !important;
  color: var(--lightest-purple) !important;
}

li.tab:nth-child(2) button {
  color: var(--lightest-purple) !important;
}

li.tab button {
  background: none;
  border: none;
  color: inherit;
  font-size: 24px;
  font-family: var(--font-primary);
  margin-right: 16px;
  width: 100%;
  height: 72px;
  padding-left: 36px;
  text-align: left;
}

li.tab button:hover {
  cursor: pointer;
}
